<div class="mt-4">
    <h3>Thêm sản phẩm</h3>

    <form method="POST" action="./">
        <div class="form-group mb-3">
            <label for="image" class="form-label">Photo</label>
            <input type="file" class="form-control" id="image" aria-describedby="emailHelp" name="image">
        </div>
        <div class="form-group mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
        </div>
        <div class="form-group mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" class="form-control" id="description" aria-describedby="emailHelp" name="description">
        </div>
        <div class="form-group mb-3">
            <label for="color" class="form-label">Màu</label>
            <input type="text" class="form-control" id="color" aria-describedby="emailHelp" name="color">
        </div>
        <div class="form-group mb-3">
            <label for="size" class="form-label">Size</label>
            <input type="text" class="form-control" id="size" aria-describedby="emailHelp" name="size">
        </div>
        <div class="form-group mb-3">
            <label for="price" class="form-label">Giá sản phẩm</label>
            <input type="text" class="form-control" id="price" aria-describedby="emailHelp" name="price">
        </div>

        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>

</div>